.App {
  margin: 0;
}
.appContainer {
margin: 0 30% auto 30%;
border: 1.5px solid black;
display: flex;
flex-direction: column;
padding-left: 25px;

}

h1 {
  color: purple;
}

form {
  display: flex;
  flex-direction: column;
  align-content: center;
}

button {
  width: 10%;
  height: 25px;
  margin: 10px;
}

